/* @media screen and (max-width: 481px)  */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

    #home-row1 {
        height: calc(var(--vh, 1vh) * 100);
    }

    #intro1 {
        top: 40%;
        left: 0%;
        width: 100%;
    }

    #intro {
        font-size: calc(var(--vh, 1vh) * 100)px;
        width: 20rem;
    }

    .r1cl {
        margin-bottom: 30px;
    }

    .r1cr {
        margin-top: 30px;
    }

    #left-skills,
    #right-skills {
        padding-left: 7px;
        padding-right: 7px;
    }

    .bg {
        width: 250px;
    }

    #skillimage {
        display: none;
    }

    #projectsAnimated1,
    #projectsAnimated2,
    #projectsAnimated3 {
        padding: 0;
    }

    #pimg {
        width: 380px;

    }

    #contactInfo {
        margin: 30px;
    }

    #c {
        font-size: calc(var(--vh, 1vh) * 100)px;
    }
}